*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, 'Times New Roman', Times;
    text-decoration: none;
    font-size: 30px;

}

body{
    background: linear-gradient(to left, #8fffff, #fa130b);
    height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.container{
    
    width: 450px;
    background-color: #fff;
    padding: 70px 50px;
    box-shadow: 0px 20px 25px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

input{
    width: 100%;
    height: 50px;
    border-radius: 7px;
    border: 2px solid #6d6a6a;
    outline: none;
    margin-top: 10px;
    padding: 0 10px;
}

h1{
    text-align: center;
}

button{
    padding: 2px;
    box-shadow: 0 2 2.5px;
    margin-top: 5px;
    border: 2px solid #6d6a6a;
    
}

.clear{
    margin-top: 12px;
    margin-left: 122px;
}

#clear{
    border-radius: 13px;
    align-items: center;
}

@media screen and (min-device-width: 768px) and (max-device-width: 768px) {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Arial, 'Times New Roman', Times;
        text-decoration: none;
        font-size: 20px;

    }
    
    .container{
        width: 430px;
        padding: 50px 30px;
        border-radius: 15px;
        box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.30);

    }
    input{
        width: 95%;
        height: 60px;
        outline: none;
        padding: 0.5 10.5px;
        margin-top: 8px;
    }
    button{
        width: 95%;
    }

}
